<div class="container">
  <footer class="footer">
    <a>
      Copyright &copy; <a href="https://www.udemy.com">The Complete Ruby on Rails Developer</a>
      created by <a href="https://twitter.com/stephengeorge32">Stephen Geller </a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>